<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpC1A384A9D02091A4D5165DBF90A0EA08" Guid="{283BE685-16D0-4442-893C-62F5990A57D4}">
                <File Id="fil0BD7A307E319C2D3BBDFE45DD92533C2" KeyPath="yes" Source="$(var.BasePath)\converter.application" />
            </Component>
            <Component Id="cmp7AD5241C54DDCA1D01E81DBF5CB04C6A" Guid="{24D5C7A7-A0C1-4C27-B385-8D6E608D053A}">
                <File Id="fil042D55E9BF236044AA1DC7E793F542D8" KeyPath="yes" Source="$(var.BasePath)\converter.exe" />
            </Component>
            <Component Id="cmpB8FDEAA2BACE596560DBCFDEA1D5AE15" Guid="{D1E86FC3-81BC-45A0-8CFC-2009E7527D2E}">
                <File Id="fil768C9895AFF7BBA1117A4445B77C177F" KeyPath="yes" Source="$(var.BasePath)\converter.exe.config" />
            </Component>
            <Component Id="cmp75409281AC767BCA164A5A27AF82AC9F" Guid="{10C8F5A1-38A4-4416-AE82-5D242C165FC7}">
                <File Id="fil5A74F63CBDBFD4DD26397E1681493E09" KeyPath="yes" Source="$(var.BasePath)\converter.exe.manifest" />
            </Component>
            <Component Id="cmpFAB137D34181BA67441D6ED731B925F1" Guid="{D15614CE-EE61-4B01-9B03-7D78AFF5D396}">
                <File Id="filE1EEB7B7076C7443F5F837CCACD5E7D5" KeyPath="yes" Source="$(var.BasePath)\converter.pdb" />
            </Component>
            <Component Id="cmpD942A4203A5845C382289A463FC9661F" Guid="{5F28FEAB-8478-4307-96D1-9F100517412E}">
                <File Id="filB9AE588BC4981C3FA8C98707A5FDEB73" KeyPath="yes" Source="$(var.BasePath)\libvideo.dll" />
            </Component>
            <Component Id="cmpF7288872B10C68171E880257DA8F9251" Guid="{BC5F475B-07EC-4CAF-9520-7FA60A659AA5}">
                <File Id="filD1AF96F83D04276C5A04626F236F61BA" KeyPath="yes" Source="$(var.BasePath)\libvideo.pdb" />
            </Component>
            <Component Id="cmp2C21C0DB6F9149FDBF1FEF0FCB7688F4" Guid="{E5DA6109-952B-4C8D-BE43-E305A6530C1F}">
                <File Id="filC4341B7141238809B50D55BC9AA39238" KeyPath="yes" Source="$(var.BasePath)\MediaToolkit.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{D826FD24-C27A-4A0C-ACA8-05EB7A864B68}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp22E746D6F416E29CB766C7D18764B4B9" Guid="{FB6C3A10-DDED-40EF-BCA1-A79EB0836DEA}">
                <File Id="filCDAFB89F0B81C3E6CC5A00DBBB38E11F" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.pdb" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{C484E500-E921-41B9-80FE-7914310306DD}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp0EF76BA9AC13C4D55E7D164F4C578CCF" Guid="{E2058303-6499-4414-BE27-1107C3D1FBDC}">
                <File Id="filE32199C16E65263753562257B031C441" KeyPath="yes" Source="$(var.BasePath)\ReazerJSON.dll" />
            </Component>
            <Component Id="cmp20E05A4F596154D04C67861120ADD575" Guid="{C280C2FB-B8C1-4FE5-ADAB-ABD19C4A41C7}">
                <File Id="filD5643C97B1765E46B56CB524609691CE" KeyPath="yes" Source="$(var.BasePath)\ReazerJSON.pdb" />
            </Component>
            <Directory Id="dir00122602D311392A9D483BE33FE17DEF" Name="app.publish">
                <Component Id="cmp093063C92A967E92551A117F470300EC" Guid="{61743069-10C5-41E9-92A0-B6C32858C730}">
                    <File Id="fil78BDF97F1AF3A8155A7A2AD8376FDB5C" KeyPath="yes" Source="$(var.BasePath)\app.publish\converter.exe" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpC1A384A9D02091A4D5165DBF90A0EA08" />
            <ComponentRef Id="cmp7AD5241C54DDCA1D01E81DBF5CB04C6A" />
            <ComponentRef Id="cmpB8FDEAA2BACE596560DBCFDEA1D5AE15" />
            <ComponentRef Id="cmp75409281AC767BCA164A5A27AF82AC9F" />
            <ComponentRef Id="cmpFAB137D34181BA67441D6ED731B925F1" />
            <ComponentRef Id="cmpD942A4203A5845C382289A463FC9661F" />
            <ComponentRef Id="cmpF7288872B10C68171E880257DA8F9251" />
            <ComponentRef Id="cmp2C21C0DB6F9149FDBF1FEF0FCB7688F4" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp22E746D6F416E29CB766C7D18764B4B9" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmp0EF76BA9AC13C4D55E7D164F4C578CCF" />
            <ComponentRef Id="cmp20E05A4F596154D04C67861120ADD575" />
            <ComponentRef Id="cmp093063C92A967E92551A117F470300EC" />
        </ComponentGroup>
    </Fragment>
</Wix>