<?xml version="1.0" encoding="UTF-8"?>

  <?if $(var.Platform) = x64 ?>
  <?define ProductCode = "{EB4B43D6-B115-4954-946A-95540FA49A21}" ?>
  <?else?>
  <?define ProductCode = "{AAEB1C43-FB08-4284-A11F-716B02AF48F1}" ?>
  <?endif?>

  <?define UpgradeCode = "{A5956B30-AD72-4EA3-971D-0284A83A3881}" ?>

  <?define BuildVersion = 1.2.3.4 ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)" 
             Description="!(loc.Description)" 
             Keywords="!(loc.Keywords)" 
             Comments="!(loc.Comments)" 
             Languages="!(loc.Language)" 
             />

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate 
      EmbedCab="yes"
      />

    <Icon Id="icon.ico" SourceFile="$(var.UI.ProjectDir)\logo.ico"/>

    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <Property Id="ARPURLINFOABOUT">http://www.reazer.bplaced.net</Property>
    <UIRef Id="WixUI_Mondo"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>


    <Feature Id="ProductFeature" Title="Installer" Level="1">
      
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
      
		</Feature>
    
	</Product>

</Wix>
